{% extends 'start/index.html' %}

{% block  page-title %}
{% endblock %}

{% block page-content %}

<div class="row">
        <div class="panel-heading">
            <h3 class="panel-title">项目管理</h3>
        </div>
        <div class="panel-body " style="position:relative;z-index:2">
            <div class="row">
                <form method="post">
                    <dd>{{ new_article_list_obj.project_name }}</dd>



                </form>
            </div>

        </div>
    </div>


{% endblock %}


